<div class="row">
  <div class="col-8">
    <%= form_for @article do |f| %>
      <p>
        <%= f.label :title, "标题" %><br>
        <%= f.text_field :title, class: "form-control" %>
      </p>
      <p>
        <%= f.label :text, "内容" %><br>
        <%= f.text_area :text, id: "editor", class: "form-control" %>
      </p>
      <p>
        <%= f.submit yield(:button_text) %>
      </p>
    <% end %>
  </div>
</div>

