<div id="admin_index_content">
  <div class="row">
    <div class="col-8">
      <% if @articles.length == 0 %>
        <div class="small-12 large-8 columns">
          <p>
            还没有一篇文章，登录后台<%= link_to "新写博文", admin_articles_path %>去写一篇新的内容吧。
          </p>
        </div>
      <% else %>
        <div id="index_blog" class="small-12 large-8 columns">
          <% @articles.each do |article| %>
            <div id="blog_info" class="small-12 large-8 columns">
              <h4 class="blog-title"><%= link_to article.title, article_path(article) %></h4>
              <p class="blog_ptag">
                <%= article.created_at.strftime('%Y-%m-%d') %>
                <%= image_tag "标签.svg", height: 20 %><%= article.labels.map {|i| i.name}.join(",") %>
              </p>
              <p class="blog_content"><%= truncate(article.content, :length => 20) %></p>

            </div>
          <% end %>
        </div>
        <div class="pagination"><%= paginate @articles %></div>
      <% end %>
    </div>
    <%= render "comments/comment", comments: @comments %>

  </div>
</div>
