<div class="row">
  <div class="col-8">
    <h1>文章列表</h1>
    <table class="table">
      <thead>
      <tr>
        <td>标题</td>
        <td>创建时间</td>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.title, article_path(article.id) %></td>
          <td><%= article.created_at %></td>
          <td><%= link_to "编辑", edit_article_path(article.id) %></td>
          <td><%= link_to "删除", article_path(article.id), method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    <div class="right_side">
      <h3>最新的评论</h3>
    </div>
  </div>
</div>

<%= paginate @articles %>