<header class="masthead home-background-<%= [*1, 2].sample %>">
  <div id="sign" class="justify-content-center">
    <h3>如果你想要快乐，就多看自己拥有的。<br>
      如果你想要让一个人很不快乐，就鼓励他多去看自己得不到的。</h3>
  </div>
</header>

<div class="row font-family" id="admin_index_content">
  <div class="col-sm-auto col-md-8 col-lg-8">
    <% if @articles.length == 0 %>
      <div class="small-12 large-8 columns">
        <p>
          没有找到博文。
        </p>
      </div>
    <% else %>
      <div id="index_blog" class="small-12 large-8 columns">
        <% @articles.each do |article| %>
          <div id="blog_info" class="small-12 large-8 columns">
            <h4 class="blog-title"><%= link_to article.title, article_path(article) %></h4>
            <p class="blog_ptag pre">
              <% if article.categories.any? %>
                <span>分类:<%= article.categories.first.name %></span>
              <% end %>

              <span>发文时间:<%= article.created_at.strftime('%Y-%m-%d') %></span>
              <span>
                <%=fa_icon "tag" %>
                <%= article.labels.map {|i| i.name}.join(",") %>
              </span>
            </p>
            <p class="blog_content"><%= truncate(article.content, escape: false, :length => 50) %></p>
            <hr>
          </div>
        <% end %>
      </div>
      <div class="pagination"><%= paginate @articles %></div>
    <% end %>
  </div>
  <%= render "shard/right_info", comments: @comments %>

</div>

