<div class="container">
  <h2>企业登录</h2>
  <%= form_for(:session, url: recruitment_companysessions_path) do |f| %>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="actions">
      <%= f.submit "登录" %>
    </div>
  <% end %>
</div>
