<nav class="navbar navbar-expand-sm bg-light fixed-top justify-content-center">
  <%= link_to "clousky's blog", admin_root_path, class: "navbar-brand mr-auto" %>
  <ul id="admin_header_nav" class="nav ml-auto">
    <li class="nav-item"><%= link_to "返回主页", root_url %></li>
    <li class="nav-item"><%= link_to "博客管理", admin_articles_path %></li>
    <li class="nav-item"><%= link_to "分类管理", admin_categorys_path %></li>
    <% if session[:login] == true %>
      <li class="nav-item"><%= link_to "退出", admin_logout_path %>
    <% end %>
  </ul>
</nav>
