<nav class="navbar navbar-expand-sm bg-light fixed-top justify-content-center">
  <%= link_to "clousky's blog", root_url, class: "navbar-brand" %>
  <%= form_tag("/",method: "get") do %>
    <span><%= text_field_tag "search" %></span>
    <span><%= submit_tag "搜索" %></span>
  <% end %>

  <ul class="nav">
    <li class="nav-item"><%= link_to "文章列表", articles_url %></li>
    <li class="nav-item"><%= link_to "关于博主", about_path %></li>
    <% if session[:login] == true %>
      <li class="nav-item"><%= link_to "进入后台", admin_articles_path %></li>
      <li class="nav-item"><%= link_to "退出", admin_logout_path %>
    <% else %>
      <li class="nav-item"><%= link_to "登录", new_admin_session_path %></li>
    <% end %>
  </ul>
</nav>
