<nav class="navbar navbar-expand-sm bg-light fixed-top">

  <ul class="navbar-nav">
    <li class="nav-item"><%= link_to "主页", root_url %></li>
    <li class="nav-item"><%= link_to "后台", '#' %></li>
    <li class="nav-item"><%= link_to "新建", new_article_path %></li>
    <li class="nav-item"><%= link_to "文章列表", '#' %></li>
    <li class="nav-item"><%= link_to "关于博主", "#" %></li>
  </ul>

</nav>
