<!DOCTYPE html>
<html>
<head>

  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
</head>

<body class= <%= yield(:bg) %>>

<%= render "layouts/header" %>
<div class="flash_info">
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
</div>

<%= yield %>


<%= render 'layouts/footer' %>
</body>
</html>
